<a href="https://colab.research.google.com/github/D1393/Working/blob/main/Statistics_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Descriptive Statistics

 Import **NumPy**, **SciPy**, and **Pandas**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

 Randomly generate 1,000 samples from the normal distribution using `np.random.normal()`(mean = 100, standard deviation = 15)

In [3]:
samples = np.random.normal(10,15,100)
samples

array([ 3.70131791e+01,  2.67597114e+01, -1.16123010e+01,  1.09656309e+00,
        2.41204011e+01,  2.74634014e+01,  2.45191008e+01,  2.06047167e+01,
        2.73317553e+01,  2.55763084e+01,  2.45742587e+01,  1.09560677e+00,
       -8.42048493e+00, -5.61498228e+00, -1.52449838e+01,  2.55202038e-01,
       -5.63276620e-01, -3.69362448e+00,  1.28063736e+01,  1.44919008e+01,
        6.59476768e+00, -7.30852585e-01,  2.06020403e+00, -5.95527992e-01,
        9.89262674e+00,  1.21971023e+01, -2.28076555e+01, -6.37534595e+00,
        3.36147105e+01,  3.66845632e+01,  9.69483397e+00,  2.36917552e+00,
        1.03113711e+01, -1.06623554e+01, -1.52822076e+01,  2.30139345e+01,
        2.14435377e+01,  1.47599553e+01, -1.58599032e+01,  3.40113209e+01,
        2.83264034e+01,  1.33677029e+01,  3.31501251e+01,  1.73136341e+01,
       -2.07135291e+01,  2.49248289e+01,  2.79692299e+01,  1.37652501e+01,
        1.32362985e+01, -3.35181397e+00,  2.30478639e+01,  1.60199356e+01,
       -9.87198979e+00,  2.35911421e+01,  1.62092691e+01, -2.47823584e+00,
        1.22845175e+01,  3.69259459e+01,  2.26842864e+01,  1.50445504e+01,
        8.30760334e+00,  1.24364938e+01, -2.09001627e+01, -6.19318252e+00,
       -2.62498189e+01,  1.49453825e+01,  2.56155120e+01, -1.79043576e+01,
        2.64763227e+01, -2.74954494e+00,  1.20163785e+01,  1.29063680e+01,
        1.59188698e+01,  3.23970953e+01, -1.89912121e+00, -1.06053503e+01,
        1.35198590e+01,  1.22502598e+01, -1.38254185e-03,  7.65262056e+00,
        2.27041804e+01, -1.05655708e+01, -6.86083332e-01,  9.79497989e+00,
        1.78642793e+01,  3.45947847e+01, -3.54705103e+00, -1.01171738e+01,
        1.90885082e+01,  9.84580645e+00,  2.72483533e+01,  1.27255776e+01,
        3.18083150e+01, -5.56460090e+00,  7.19050787e+00,  1.58671192e+01,
        1.87311264e+01,  1.10201687e+01,  3.60386621e+00,  7.54598856e+00])

Compute the **mean**, **median**, and **mode**

In [ ]:
mean = np.mean(samples)
median = np.median(samples)
mode = stats.mode(samples)

Compute the **min**, **max**, **Q1**, **Q3**, and **interquartile range**

In [5]:
min = np.min(samples)
max = np.max(samples)
q1 = np.percentile(samples,25)
q3 = np.percentile(sample,75)
iqr = q3-q1

NameError: ignored

Compute the **variance** and **standard deviation**

In [6]:
variance = np.var(samples)
std_dev = np.std(samples)

Compute the **skewness** and **kurtosis**

In [ ]:
skewness = stats.skew(samples)
kurtosis = stats.kurtosis(samples)

## NumPy Correlation Calculation

Create an array x of integers between 10 (inclusive) and 20 (exclusive). Use `np.arange()`

In [8]:
x = np.arange(10,20)

Then use `np.array()` to create a second array y containing 10 arbitrary integers.

In [9]:
y = np.random.randint(1,100,10)

Once you have two arrays of the same length, you can compute the **correlation coefficient** between x and y

In [10]:
r = np.corrcoef(x,y)

## Pandas Correlation Calculation

Run the code below

In [12]:
x = pd.Series(range(10, 20))
y = pd.Series([2, 1, 4, 5, 8, 12, 18, 25, 96, 48])

Call the relevant method  to calculate Pearson's r correlation.

In [14]:
r = x.corr(y)
r

0.7586402890911867

OPTIONAL. Call the relevant method to calculate Spearman's rho correlation.

In [13]:
rho = x.corr(y, method='spearman')

## Seaborn Dataset Tips

Import Seaborn Library

In [15]:
import seaborn as sns

Load "tips" dataset from Seaborn

In [16]:
tips = sns.load_dataset("tips")

Generate descriptive statistics include those that summarize the central tendency, dispersion

In [17]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

Call the relevant method to calculate pairwise Pearson's r correlation of columns

In [18]:
tips.corr('pearson')

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000